#header .bottom .bot_con #topnav .nav li:nth-child(2) a{color: #0a8d58;}

.product{
    width: 100%;
    height: 78px;
    box-sizing: border-box;
    border-bottom: 1px solid #333;
}

.product h1{
    text-align: center;
    font-size: 33px;
    line-height: 78px;
}

/*컨테이너 시작*/
#container{ 
    width: 75%;
    margin: 0 auto;
    background-color: #d8ffff;
}

.con1{
    width: 350px;
    height: 630px;
    margin-top: 44px;
    margin-bottom: 36px;
    float: left;
    margin-right: 185px;
}

.con1_img{
    width: 350px;
    height: 350px;
}

.con1_text{
    width: 350px;
    height: 65px;
    margin-top: 30px;
}

.con1_title{width: 350px; height: 80px; }
.con1_title h2{font-family: 'Noto Sans CJK KR'; font-weight: 600; font-size: 31.5px; text-align: center; }
.con1_title span{font-family: 'KoPubWorld돋움체'; font-size: 18px; }
.con1_title p{font-family: 'KoPubWorld돋움체'; font-size: 16px; color: #484848; text-align: center; margin-top: 10px; }


.con1_middle{width: 350px; height: 35px; margin-top: -10px;}

.con1_middle h4{float: left; width: 350px; height: 35px; font-size: 16px; line-height: 35px; text-align: center; color: #989898;}



/*구매하기 버튼*/


.btn1{display: block; width: 190px; height: 54px; text-decoration: none; text-align: center; line-height: 52px; color: #838383; border-radius: 5px; /*background-color: #0a8d58;*/ border: 1px solid #c4c4c4; margin-left: 72px; margin-top: 25px; font-weight: 100;}
.btn1:hover{background-color: #0a8d58; border: 2px solid #0a8d58; color: white;}


.popup{position: absolute; left: 50%; top: 9.8%; z-index: 5; transform: translate(-50%,-50%); width: 500px; height: 130px; box-shadow: 0 0 10px rgba(0,0,0,0.1); background: #fff; 
border-radius: 5px; text-align: right; padding: 20px; box-sizing: border-box; opacity: 0; transition: all 0.5s;}
.popup a{color: grey; text-decoration: none;}
.popup:target{opacity: 1;}
.popup:target + .dim{opacity: 1; z-index: 1;}
.dim{position: absolute; left: 0; top: 0; z-index: -1; width: 100%; height: 100%; background:rgba(0,0,0,0.6); opacity: 0;}


.text p{text-align: left; margin-top: 10px;}
.text hr{margin-top: 20px;}








/*con2*/

.con2{
    width: 350px;
    height: 630px;
    float: left;
    margin-top: 44px;
    margin-bottom: 36px;
    margin-right: 185px; 
}

.con2_img{
    width: 350px;
    height: 350px;
}

.con2_text{
    width: 350px;
    height: 65px;
    margin-top: 30px;
}

.con2_title{width: 350px; height: 80px; }
.con2_title h2{font-family: 'Noto Sans CJK KR'; font-weight: 600; font-size: 31.5px; text-align: center; }
.con2_title span{font-family: 'KoPubWorld돋움체'; font-size: 18px; }
.con2_title p{font-family: 'KoPubWorld돋움체'; font-size: 16px; color: #484848; text-align: center; margin-top: 10px; }


.con2_middle{width: 350px; height: 35px; margin-top: -10px;}

.con2_middle h4{float: left; width: 350px; height: 35px; font-size: 16px; line-height: 35px; text-align: center; color: #989898;}



/*구매하기 버튼*/


.btn2{display: block; width: 190px; height: 54px; text-decoration: none; text-align: center; line-height: 52px; color: #838383; border-radius: 5px; /*background-color: #0a8d58;*/ border: 1px solid #c4c4c4; margin-left: 72px; margin-top: 25px; font-weight: 100;}
.btn2:hover{background-color: #d85660; border: 2px solid #d85660; color: white;}











/*con3*/

.con3{
    width: 350px;
    height: 630px;
    margin-top: 44px;
    margin-bottom: 36px;
    float: left;
}

.con3_img{
    width: 350px;
    height: 350px;
}

.con3_text{
    width: 350px;
    height: 65px;
    margin-top: 30px;
}

.con3_title{width: 350px; height: 80px; }
.con3_title h2{font-family: 'Noto Sans CJK KR'; font-weight: 600; font-size: 31.5px; text-align: center; }
.con3_title span{font-family: 'KoPubWorld돋움체'; font-size: 18px; }
.con3_title p{font-family: 'KoPubWorld돋움체'; font-size: 16px; color: #484848; text-align: center; margin-top: 10px; }


.con3_middle{width: 350px; height: 35px; margin-top: -10px;}

.con3_middle h4{float: left; width: 350px; height: 35px; font-size: 16px; line-height: 35px; text-align: center; color: #989898;}



/*구매하기 버튼*/


.btn3{display: block; width: 190px; height: 54px; text-decoration: none; text-align: center; line-height: 52px; color: #838383; border-radius: 5px; /*background-color: #0a8d58;*/ border: 1px solid #c4c4c4; margin-left: 72px; margin-top: 25px; font-weight: 100;}
.btn3:hover{background-color: #69a9d6; border: 2px solid #69a9d6; color: white;}






footer{
    background-color: black;
}




